<h1>Welcome, to sign up please provide the following information</h1>
<h3>In order to successfully signup, you need to choose a unique username</h3>

<form action="/signup" method="POST"> 
<p>
<label for="username">Username:</label>
<input type="text" id="username" name="username">
</p>

<p>
<label for="name">Name(First and Last):</label>
<input type="text" id="name" name="name">
</p>

<p>
<label for="email">Email:</label>
<input type="text" id="email" name="email">
</p>

<p>
<label for="password">Password:</label>
<input type="text" id="password" name="password">
</p>

<input type="submit" id="submit" name="submit"  value="Signup">
</form>
