<%= @user.name %>


<ul> 
    <% @user.destinations.each do |destination| %>
        <ul>
        <li><%= destination.location %></li>
        <li><%= destination.description %></li>
        <li><%= destination.activities %></li>
        </ul>
    <% end %>

</ul>
<%# want this page to display greeting to user after signup/login and a list of all the @user.destinations AND link to create new destination? %>