<h1><%=@destination.location%></h1>

<h3>Description:</h3> 
<p><%=@destination.description%></p>

<h3>Activities:</h3>

<%= @destination.activities %>  
   




<%#maybe have activities as checkboxes?%>

<%#'create' or 'edit' href link buttons on this show page? %>


